<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flatiron School Git Active</title>
        <link rel="stylesheet" href="css/site.css">
        <link rel="author" href="humans.txt">
    </head>
    <body>

    <div class="flatiron-image">
      <img src="img/flatiron.png"/>
    </div>

    <p>The three most recent events from Flatiron Students on GitHub</p>

    <% events.each do |event| %>
    <h1 class="username"><%= event.name %></h1>
    <h3 class="event-description"><%= event.type %> on <strong><%= event.repo %></strong> at <%= Generator.convert_utc_to_local(event.time) %>
    <% end %>

    <h1>The person with the most commits since we started monitoring on 10/16</h1>
    <h2><%= scorer[0] %> with <%= scorer[1] %> events</h2>
        
        <script src="js/site.js"></script>
    </body>
</html>

