<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flatiron School Git Active</title>
        <link rel="stylesheet" href="css/site.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
        <link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link rel="author" href="humans.txt">
    </head>
    <body>

    <div class="header">
      <img src="img/flatiron.png" class="flatiron-logo" />
    </div>

    <div class="container">
    <div class="trophy-box">
      <div class="trophy-header"><p>Current Points Leader</p></div>
      <div class="trophy-wrapper">
        <i class="icon-trophy icon-4x"></i>
        <p class="top-scorer-name"><%= scorer[0] %></p>
        <p class="top-scorer-points"><%= scorer[1] %> events</p>   
      </div>
    </div>

    <% events.each do |event| %>
    <h1 class="username"><%= event.name %> <span class="timestamp"><%= Generator.convert_utc_to_local(event.time) %></span></h1>
    <p class="event-description"><%= event.type %> on <%= event.repo %></p>
    <% end %>
        <script src="js/site.js"></script>
    </div>
    </body>
</html>

